.openconvo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.openconvo2 {
  flex-grow: 1;
  overflow: auto;
}

.openconvo3 {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 3px;
}

.text-right {
  text-align: end;
  padding-left: 100px;
  padding-right: 15px;
  margin-top: 20px;
  border: 1px 1px black;
}

.text-left {
  text-align: initial;
  padding-left: 10px;
  padding-right: 100px;
}

.text-left-color {
  display: inline-block;
  background-color: rgb(199, 197, 197);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  border: 2px solid #030303;
}

.text-right-color {
  display: inline-block;
  background-color: rgb(167, 167, 227);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 25px;
  border: 2px solid #040403;
}

.sender {
  color: rgb(99, 99, 101);
  font-weight: 200;
  margin-top: 100px;
}
