.openconvo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.openconvo2 {
  flex-grow: 1;
  overflow: auto;
}

.openconvo3 {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 3px;
}

.text-right {
  text-align: end;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px black;
}

.text-left {
  text-align: initial;
  padding-left: 15px;
  padding-right: 15px;
}

.sender {
  color: rgb(99, 99, 101);
  font-weight: 200;
}
