.footer {
  bottom: 0;
  height: 10vh;
  width: 45vw;
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: black;
<<<<<<< HEAD
  margin: auto;
  position: sticky;
  border-radius: 15px;
  box-shadow: 5px;
=======
  
>>>>>>> 99fe6c6 (spacing fix, grid shift down, and spacing with cards.)
}
