.footer {
  position: static;
  height: 10vh;
  width: 45vw;
  display: flex;
  align-items: center;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;  
  align-items: center;
  background-color: #2F3C7E;
  border-Radius: 15px;
  margin: auto;
}
