.nav {
  height: 80px;
  padding: 10px;
  background-color: '#4A6670';
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: inherit;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin: 20px;
  color: #fff;
}

.nav ul li a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin: 20px;
}